/* Base */

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  font-family: inherit;
}
h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.button {
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* Header */
.logo-dark {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
}

.logo-accent {
  color: #4d5ae5;
}

.navi-link {
  color: #2e2f42;
  font-weight: 500;
}
.navi-link:hover,
.navi-link:focus {
  color: #404bbf;
  text-decoration: underline;
}

.address-link {
  color: #434455;
  font-style: normal;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* Hero section */
.hero-section {
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 1.12px;
  color: #fff;
}
.adventages {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.adventages-description {
  line-height: 1.5;
}

/* our team */
.team-container {
  background-color: #f4f4fd;
}
.team-section {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}
.photo {
  background-color: #fff;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.portfolio-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}
.portfolio-img {
  background-color: #fff;
}

/* Footer */
.footer {
  background-color: #2e2f42;
}
.logo-light {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.addition-footer {
  color: #4d5ae5;
}
.footer-text {
  color: #f4f4fd;
}
